<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Weather App</title>
     <link rel="icon" href="https://images-na.ssl-images-amazon.com/images/I/61nuuPxUvaL.png" type="image/icon type">
    <link rel="stylesheet" href="./style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     </head>
  <body>
    <nav class="navbar navbar-expand-lg bgcolor">
      <div class="container-fluid">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61nuuPxUvaL.png" alt="" height="35px" width="35px"> 
        <a class="navbar-brand" href="/">Weather app</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/map">Map</a>
            </li>
           <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li> 
          </ul>
          <form class="d-flex" role="search" action="" >
            <input
              id="city"
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="city"
              value=""
            />
            <button class="btn btn-outline-success" >
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- box container -->
    <div class="container" style="padding-bottom: 50px; padding-top: 50px">
      <div class="cityname" style="">
        <h1>Weather for {{name}}, {{country}}<span id="cityname"></span></h1>
      </div>
      <main style="margin-top: 5%;">
        <div id="weathericon"></div>
        <div class="containerbox">
          <div class="box1">
            <h2 class="today">Today</h2>
             <p id="date" class="date">{{localtime}}</p>
            <div class="imagediv"><img class="icon" src="http://openweathermap.org/img/wn/{{icon}}@2x.png" > </div>
            <div class="description"> {{details}}</div>
            <div class="temp" id="tempt"><h1>{{temp}}°C</h1></div>
            <div class="min_today"><i class="fa-solid fa-temperature-low" ></i>  MIN {{temp_min}}°C</div>
            <div class="max_today"><i class="maxicon fa-solid fa-temperature-high"></i> MAX {{temp_max}}°C  </div>
            <span class="sunrise"><h5 class="first-h5">sunrise</h5><i class="bi bi-sunrise"></i> <h5> &nbsp; {{sunrisetime}}</h5></span>
            <span class="sunset"><h5 class="first-h5">sunset</h5> <i class="bi bi-sunset"></i> <h5> &nbsp; {{sunsettime}}</h5></span>
             <span class="humidity"><h5 class="first-h5">Humidity</h5><span class="material-symbols-outlined" style="line-height: 1.5;">humidity_percentage</span><h5>{{humidity}} %</h5></span>

            <div class="wave wvone"></div>
            <div class="wave wvtwo"></div>
            <div class="wave wvthree"></div>
          </div>
        </div> 
        <div>
          {{>forecasthourly}}
        </div>
         
         <hr>
         <div>
           {{>forecastdaily}}
         </div>
        
        </div>
      
      </main>
    </div>
     <footer>
        <div class="footer">
          <p> ©Copyright 2023  <span class="creatorname">BY Alok,Sabya,Saswat,Dinesh</span></p>
        </div>
       </footer>
    <script src="src.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
