<h2 class="display-6 text-center mt-5">Daily Forecast</h2>
        <hr>
        <div class="mainbox text-center ">
           <div class="smallbox" >
            <p style="">{{day0}}</p>
            <img src="http://openweathermap.org/img/wn/{{dayicon0}}@2x.png" alt="">
            {{!-- <h4 class="forecast_description">scattered clouds</h4> --}}
             <h3>{{daytemp0}}°C</h3>
           </div>
           <div class="smallbox" >
            <p style="">{{day1}}</p>
            <img src="http://openweathermap.org/img/wn/{{dayicon1}}@2x.png" alt="">
            {{!-- <h4 class="forecast_description">scattered clouds</h4> --}}
             <h3>{{daytemp1}}°C</h3>
           </div>
           <div class="smallbox" >
            <p style="">{{day2}}</p>
            <img src="http://openweathermap.org/img/wn/{{dayicon2}}@2x.png" alt="">
            {{!-- <h4 class="forecast_description">scattered clouds</h4> --}}
             <h3>{{daytemp2}}°C</h3>
           </div>
           <div class="smallbox" >
            <p style="">{{day3}}</p>
            <img src="http://openweathermap.org/img/wn/{{dayicon3}}@2x.png" alt="">
            {{!-- <h4 class="forecast_description">scattered clouds</h4> --}}
             <h3>{{daytemp3}}°C</h3>
           </div>
           <div class="smallbox" >
            <p style="">{{day4}}</p>
            <img src="http://openweathermap.org/img/wn/{{dayicon4}}@2x.png" alt="">
            {{!-- <h4 class="forecast_description">scattered clouds</h4> --}}
             <h3>{{daytemp4}}°C</h3>
           </div>
           <div class="smallbox" >
            <p style=""> {{day5}}</p>
            <img src="http://openweathermap.org/img/wn/{{dayicon5}}@2x.png" alt="">
            {{!-- <h4 class="forecast_description">scattered clouds</h4> --}}
             <h3>{{daytemp5}}°C</h3>
           </div>